<h2 class="section_title">
    <slot />

    <style>
        .section_title {
            display: flex;
            margin: 80px 0px;
            font-size: 40px;
            font-weight: bold;
        }
    </style>
</h2>